

<!DOCTYPE html>
{% load static %}
<html lang="en">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/index.css'%}">
<body>
<div class="main">
    <form method="POST" action="/">
    {% csrf_token %}
    {{form.taskname}}
    <input class="btn btn-info" type="submit" name="create task" ></input>
    </form>

    {% for task in tasks %}
    <div class="item">
        
            
            <a class=" btn btn-sm btn-danger" href="{% url 'updatetask' task.id %}">Update</a>
            <a class="btn btn-sm btn-info" href="{% url 'delete' task.id %}">Delete</a>
            
            
            {%if task.complete == True%}
            <strike>{{task}}</strike>
            {%else%}
            <span>{{task}}</span>
            {%endif%}

        </div>
    {% endfor %}
</div>
</body>
</html>